
.header {
   /* Example width */
  margin: auto;
   /* Example padding */
  padding: 20px;
  font-family: Verdana, sans-serif; 
  background-color: lightblue; /* Example background */
  text-align: center; /* Center the text inside the div */
  position: sticky;
  top: 0;
  left: 0;
  right: 0
}

.gallerybackground {
    background-color:aquamarine;
    content: "";
    display: table;
    clear: both;
    font-family: Verdana, sans-serif
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  font-family: Verdana, sans-serif
}
div.desc {
  padding: 15px;
  text-align: center;
}
div.gallery img {
  width: 100%;
  height: auto;
}


.QuickBio {
    font-family: Verdana, sans-serif;
    background-color: aliceblue;
    font-size: larger;
}

.Links {
    font-size:medium;
    font-family:Verdana, sans-serif;
    background-color:cadetblue;
}

.button {
  background-color: #5791cf;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #6bacf2;
}

.CodingJourney {

    font-family: Verdana, sans-serif;
    padding: 20 px; 
    margin: auto;
    font-size: medium;
    background-color: cornflowerblue;



}